<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Alexander Klapheke">
		$if(date-meta)$
		<meta name="dcterms.date" content="$date-meta$" />
		$endif$
		<meta name="robots" content="index,follow">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="last-modified" content="">
		$if(keywords)$
		<meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$" />
		$endif$

		<link rel="canonical" href="https://alexklapheke.github.io/blog/$outputfile$">
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
		$if(highlighting-css)$
		<style type="text/css">
		$highlighting-css$
		</style>
		$endif$
		$for(css)$
		<link rel="stylesheet" href="$css$" />
		$endfor$
		$if(math)$
		$math$
		$endif$
		<!--[if lt IE 9]>
			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
		<![endif]-->
		$for(header-includes)$
		$header-includes$
		$endfor$

		<title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
	</head>
	<body>
	$for(include-before)$
	$include-before$
	$endfor$
	$if(title)$
	<header>
	<h1 class="title">$title$</h1>
	$if(subtitle)$
	<p class="subtitle">$subtitle$</p>
	$endif$
	$for(author)$
	<p class="author"><a href="https://alexklapheke.github.io">$author$</a></p>
	$endfor$
	$if(date)$
	<p class="date">$date$</p>
	$endif$
	<a href="$sourcefile$">Markdown source</a>
	</header>
	$endif$
	$if(toc)$
	<nav id="$idprefix$TOC">
	$table-of-contents$
	</nav>
	$endif$
	<article>
	$body$
	$for(include-after)$
	$include-after$
	$endfor$
	</article>
	</body>
</html>
