<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Alexander Klapheke">
		<meta name="robots" content="index,follow">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="last-modified" content="">

		<link rel="canonical" href="https://alexklapheke.github.io/blog">
		<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="../style.css">

		<title>Blog archive</title>
	</head>
	<body>
		<header>
			<h1>Blog</h1>
			<div id="contact">
				<a href="https://alexklapheke.github.io">About me</a>
			</div>
		</header>
		<article>
			<ul>
