section {
	margin-bottom: 52px;
}

article {
	padding: 30px 0px 30px 30px;
	margin-left: 280px;
	display: grid;
	grid-template: "data  blog"
		           "tools blog"
		           "fun   blog" / auto auto;
}

footer {
	/* font-size: 10px; */
	padding: 30px;
	margin-left: 280px;
	background: #DFE8F7;
}

figure {
	margin: 14px 0px;
}

#blogposts {
	grid-area: blog;
}

#blogposts time {
	margin-left: 0.5em;
	color: #9BA0A9;
}

ul.portfolio {
	list-style-type: none;
}

ul.portfolio li {
	min-height: 108px;
}

ul.portfolio a:first-of-type {
	display: block;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	background: none;
}

ul.portfolio a img {
	float: left;
	margin-right: 22px;
}

.rss {
	margin-left: 0.25em;
}

@media only screen and (max-width: 1200px){
	article {
		padding: 30px;
		margin-left: 280px;
		display: grid;
		grid-template: "data"
		               "tools"
		               "fun"
		               "blog";
		}
}

@media only screen and (max-width: 960px){
	body {
		overflow-x: hidden;
	}
	
	header {
		position: static;
		display: grid;
		width: calc(100vw - 60px);
		grid-template: "title pic"
		               "blurb blurb";
	}

	figure {
		margin: 0px 0px 0px 10px;
	}
	
	#blurb {
		grid-area: blurb;
	}
	
	#pic {
		grid-area: pic;
	}
	
	article {
		margin-left: 0px;
		display: block;
	}

	footer {
		margin-left: 0px;
	}

}

@media only screen and (max-width: 679px){
	dt img {
		max-width: 100%;
	}
}

@media only screen and (max-width: 425px){
	header {
		display: block;
	}
}
