/*
 * Colors:
 *
 * Text/background colors:
 * #FAFAFA white
 * #090A0C black
 * #C34540 red
 * #51693A check green
 * #333E47 dark gray
 *
 * Structural colors:
 * #D1D8DE border gray (table cells)
 * #D6D5CD border gray (blockquotes etc.)
 *
 */

@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap&subset=latin-ext');

@font-face {
	font-family: 'Linux Libertine O';
	src: url('fonts/LinLibertine_Rah.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Linux Libertine O';
	src: url('fonts/LinLibertine_RIah.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Linux Libertine O';
	src: url('fonts/LinLibertine_RBah.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Linux Libertine O';
	src: url('fonts/LinLibertine_RBIah.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Linux Libertine O Mono';
	src: url('fonts/LinLibertine_Mah.ttf') format('truetype');
}

html {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Linux Libertine O", serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-kerning: normal;
	font-variant-ligatures: common-ligatures;
	line-height: 22px;
	background: #FFFFFF;
	color: #081220;
	box-sizing: content-box;
	min-height: 100%;
	margin: 0px auto;
	padding: 0px;
}

header {
	background: #DFE8F7;
	padding: 30px;
	position: fixed;
	width: 220px;
	height: 100%;
}

header h1 {
	font-family: 'Lora', serif;
	display: inline-block;
	font-size: 44px;
	margin-bottom: 26px;
}

header a {
	display: inline-block;
	color: #0658CF;
	font-size: 14px;
}

header h1 a {
	font-size: 44px;
}

header h1 a:hover, header h1 a:active, header h1 a:focus {
	text-shadow: 1px 1px 4px #FFCCCC;
}


hr {
	border: 1px solid #9BA0A9;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lora";
	font-weight: normal;
	font-style: italic;
	margin-top: 0px;
}

h1 {
	font-size: 32px;
	line-height: 48px;
	color: #CE2A07;
}

h2 {
	font-size: 26px;
	line-height: 32px;
}

h3 {
	font-size: 22px;
	line-height: 27px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 15px;
}

h6 {
	font-size: 14px;
}

p {
	text-align: justify;
	hyphens: auto;
}

abbr {
	text-decoration: none;
	border-bottom: 1px dotted #BDBFAA;
}

ul, ol {
	padding-left: 0px;
}

ul {
	list-style-type: disclosure-closed;
}

li::marker {
	color: #9BA0A9;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0px;
}

a {
	color: #0658CF;
	text-decoration: none;
	outline: none;
	transition: text-shadow 0.6s ease-in-out;
}

a:hover, a:active, a:focus {
	text-shadow: 1px 1px 4px #BDD1EE; /* #D93B48 */
}

a.pdf, a[href$=".pdf"], a[href*=".pdf#page="] {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACB0lEQVR42o2TP0gbURzHz/7L0tI0wS4O52QiuVB0S9Gmc2idiuDo4uQsHTtZdGiHmkUDQSSQKUVBENxTyCTUNo1Fw6WG2CR3l8vl7l5OyNffO1QC3pV+4cvjvd/7fX7v9ztO4AqHw49pSZBn/9OJQCDwVBjSLIZkNxqwazX8S5STGga8BklptfAjl4NuWTjd20Pr/BwqnSntNlSypihQydeAt56A7xsbONvfR6fXw9n2NjRVRYdb027sD9CoCq/+bW4Otd1dyJkM9E7n1l1dR5dWfwDR+cVev4/y4iIqqRRMeolpmrfu0d4XwCsYhuFeZADkhQX8GR+Hnsu5e8uyeMwfQHT3km3bcAC019fBKKG5vIxqNIpWoQDj8vIG8OYOgCcyxtCnFtjFBfSdHdgENMhqvY6TpSWUxsZwOj+PFyMj7zwBfQI4jgPj8BBGqYQGDbaQTiObTGJTkvA1nR6cHBzgmSC8vANgBODVHbKytgbt6AhfRBFDGvDPOj019T4Wi93zBjDmWk4k8GtmBpnVVXApijL4eXyMeDz+QRTF+zzJswWrWoU8MYH6ygpU6j2fz7uVf1cqkCTp4/PR0Qc8wRtAvTdoQEo2i64so9lsolgsDnRdR3Ry8lMoFHok+OgVSBZN3qRn/t3a4pN3AeVyGZFI5HMwGAwIfqLgk+vfNOnhaYo/9Mu9AvGXNq/jl5W6AAAAAElFTkSuQmCC) no-repeat right;
	padding-right: 20px;
}

/* For DOIs, we don't want to hyphenate them, because then it's
unclear if the hyphen is part of the DOI or not. But we want to
break them across lines since they can run extremely long. */
a[href^="https://doi.org"] {
	hyphens: none;
	word-break: break-all;
}

a.social {
	color: #C34540;
	font-weight: bold;
}

a.social:hover {
	text-shadow: 1px 1px 4px #FFCCCC;
}

blockquote {
	margin-left: 0em;
	margin-right: 0em;
	padding-left: 1em;
	border-left: 0.5em solid #9BA0A9;
}

.smallcaps {
	font-variant: small-caps;
}

.grayed {
	color: #9BA0A9;
}

.fleuron {
	margin: 0px 0.5em;
}

.bullet {
	margin: 0px 0.2em;
	color: #9BA0A9;
}

::selection {
	color: #DFE8F7;
	background-color: #081220;
}
